span[class="W"]:before { content:'\266a '; text-shadow: -1px 0 #aaa, 0 1px #aaa, 1px 0 #aaa, 0 -1px #aaa; font-size: 150%; color: white; }
span[class="P"]:before { content:'\266a '; text-shadow: -1px 0 #aaa, 0 1px #aaa, 1px 0 #aaa, 0 -1px #aaa; font-size: 150%; color: purple; }
span[class="C"]:before { content:'\266a '; text-shadow: -1px 0 #aaa, 0 1px #aaa, 1px 0 #aaa, 0 -1px #aaa; font-size: 150%; color: cyan; }
span[class="R"]:before { content:'\266a '; text-shadow: -1px 0 #aaa, 0 1px #aaa, 1px 0 #aaa, 0 -1px #aaa; font-size: 150%; color: red; }
span[class="O"]:before { content:'\266a '; text-shadow: -1px 0 #aaa, 0 1px #aaa, 1px 0 #aaa, 0 -1px #aaa; font-size: 150%; color: orange; }
span[class="B"]:before { content:'\266a '; text-shadow: -1px 0 #aaa, 0 1px #aaa, 1px 0 #aaa, 0 -1px #aaa; font-size: 150%; color: blue; }
span[class="G"]:before { content:'\266a '; text-shadow: -1px 0 #aaa, 0 1px #aaa, 1px 0 #aaa, 0 -1px #aaa; font-size: 150%; color: green; }
span[class="Y"]:before { content:'\266a '; text-shadow: -1px 0 #aaa, 0 1px #aaa, 1px 0 #aaa, 0 -1px #aaa; font-size: 150%; color: yellow;}
span[class="X"]:before { content:'\266a '; text-shadow: -1px 0 #aaa, 0 1px #aaa, 1px 0 #aaa, 0 -1px #aaa; font-size: 150%; color: black; }

.progress {
    position: relative;
    margin-bottom: 0px;
}

.progress-bar {
    transition-duration: 1s;
    transition-timing-function: linear;
}

.progress-bar-fast {
    transition-duration: 500ms;
    transition-timing-function: ease;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: white;
    text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
}

div.progress[aria-valuenow="0"] {
    visibility: hidden;
}
